<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="sqlWebData" connectionString="Data Source=web4728461.host041.zjidc.org;Initial Catalog=sqlwebdata;Persist Security Info=True;User ID=webdata;Password=10018583;Pooling=true;" providerName="System.Data.SqlClient" />
    <add name="WebData" connectionString="Data Source=.;Initial Catalog=WebData;Persist Security Info=True;User ID=sa;Password=10018583;Pooling=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ConnectionStringName" value="sqlWebData" />
  </appSettings>

  <system.web>
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <httpRuntime enable="true" requestValidationMode="2.0" />
  </system.web>
</configuration>
