<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="WebData" connectionString="Data Source=.;Initial Catalog=WebData;Persist Security Info=True;User ID=sa;Password=10018583;Pooling=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ConnectionStringName" value="WebData" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
  </system.web>
</configuration>
